.movie-poster {
    height: 350px; 
    width: 100%; 
    object-fit: cover; 
  }
  

  .margin-left-md {
    margin-left: 0; 
  }
  @media (min-width: 992px) {
    .margin-left-md {
      margin-left: 150px; 
    }
  }

  @media (min-width: 1200px) {
    .margin-left-md {
      margin-left: 175px; 
    }
  }
  
  @media (min-width: 1401px) {
    .margin-left-md {
      margin-left: 206px; 
    }
  }

  .color{
    background-color: rgb(48, 48, 125) !important;
  }
  .bg-color{
    background: linear-gradient(15deg, rgba(82,180,156,1) 0%, rgba(71,191,191,1) 59%, rgba(9,218,238,1) 100%, rgba(64,63,63,1) 100%)!important;
  }